{% extends '_base.html' %}


{% block body %}
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8">
            
            <h2>
                {{ article.title | safe }}
            </h2>

            <p>
                <span style="margin-top:20px;">
                    <span class="glyphicon glyphicon-time"></span> 
                    <span>Posted on {{ article.time_create | date:"Y-m-d H:i:s"}}</span>
                </span>

                <span class="float-right">
                    <a class="btn btn-link">Edit</a>
                    <a class="btn btn-link">Delete</a>
                    <a class="btn btn-link">Publish/Unpublish</a>
                </span>
            </p>
            
            <hr>
                <p>
                    {{ article.content | safe}}
                </p>
            <hr>

            <h4>Comments</h4>

            <div class="comment row">
                <div class="col-md-1">
                    <img src="/static/img/ghost_person_40x40_v1.png">
                </div>
                <div class="col-md-11">
                    <div><em>2014-10-20 14:23:10</em></div>

                    <o>This article is so awesome. I have to say this at least five times: This article is so awesome. This article is so awesome. This article is so awesome. This article is so awesome. This article is so awesome.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-1">
                    <img src="/static/img/ghost_person_40x40_v1.png">
                </div>
                <div class="col-md-11">
                    <textarea class="float-left" cols=80></textarea> <a class="btn btn-default float-left" style="margin-left:5px;">Add comment</a>
                </div>
            </div>

        </div>

        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">
            <div class="well">

                <div>
                    <img src="/static/img/ghost_person_180x180_v1.png" style="margin-left:20%;width:60%;margin-bottom:10px;"/>
                    <div style="text-align: center">
                        <h4><a href="/homepage?id={{article.author.id}}">{{article.author.username}}</a></h4>
                        <h5>Followers: 20</h5>
                        <h5>Article number: 120</h5>
                    </div>
                </div>
                
            </div>

            <!-- Blog Search Well -->
            <div class="well">
                <h4>His recent blogs</h4>
                
                <div class="blog-list-item-side">
                    <a href="#">Blog 1</a>
                </div>
                <div class="blog-list-item-side">
                    <a href="#">Blog 2</a>
                </div>

            </div>

        </div>

    </div>
    <!-- /.row -->

{% endblock %}