{% extends '_base.html' %}

{% block extra_head %}

<style type="text/css">
    .user-info{
        margin-bottom: 10px;
    }
    .user-info img{
        margin: 5px;
    }
</style>

{% endblock %}


{% block body %}
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <h1 class="page-header">
                All Users
                <small>Find those you're interested in</small>
            </h1>

            <!-- First Blog Post -->

            {% include 'includes/pager.html' %}

            {% for user_chunk in user_chunks %}
                <div class="row">
                    {% for user in user_chunk %}
                        <div class="col-md-6 user-info">
                            <div class="col-md-3">

                                <img src="{{ user.avatar | default_if_none:'/static/img/ghost_person_40x40_v1.png'}} " style="width:40px;height: 40px;margin: 5px auto;margin-left: auto;margin-right: auto">
                                {% include 'includes/btn_follow.html' %}
                            </div>
                            <div class="col-md-9">
                                <div>
                                    <a href="/homepage?id={{user.id}}">
                                        <b>{{user.username}}</b> 
                                    </a>
                                    <p>
                                        {{ user.description | default_if_none:''}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>

            {% endfor %}

        </div>

        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">

            <div class="well">
                <h4>People Search</h4>
                <form action="/people" method="GET">
                    <div class="input-group">
                    
                        <input type="text" class="form-control" name="query" value="{{ query | default_if_none:''}}">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>

                    </div>
                </form>
                <!-- /.input-group -->
            </div>

        </div>

    </div>
    <!-- /.row -->

{% endblock %}

{% block extra_script %}
<script type="text/javascript">
    App.initFollowButtons();
</script>
{% endblock %}