{% extends '_base.html' %}


{% block body %}
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8">
            
            {% include 'includes/article_list.html' %}

        </div>

        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">
            {% include 'includes/user_sidebar.html' %}

            <!-- Blog Search Well -->
            <div class="well">
                <h4>Blog Search</h4>
                <form action="/homepage" method="GET">
                    <div class="input-group">
                        
                        <input type="text" class="form-control" name="query">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>

                    </div>
                </form>
                <!-- /.input-group -->
            </div>

        </div>

    </div>
    <!-- /.row -->

{% endblock %}


{% block extra_script %}
<script type="text/javascript">
    App.initFollowButtons();
</script>
{% endblock %}