{% extends '_base.html' %}


{% block body %}
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8">
            
            {% block form %}

            {% endblock %}
        </div>

        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">
            {% include 'includes/user_sidebar.html' %}

            

        </div>

    </div>
    <!-- /.row -->

{% endblock %}

{% block extra_script %}
<script type="text/javascript" src="/static/js/jquery.form.min.js"></script>

{% block user_profile_script %}
{% endblock %}

{% endblock %}
